* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
  height: 100vh;
  background-color: rgba(183, 86, 86, 0.808);
  display: flex;
  align-items: center;
  justify-content: center;
}

main article {
  width: 40%;
  height: 80%;
}

main article #s1 {
  width: 100%;
  height: 20%;
  display: flex;
  gap: 10px;
  padding: 10px;
}

main article #s1 #div1 {
  width: 50%;
  height: 100%;
  background-color: rgb(235, 210, 50);
}

main article #s1 #div2 {
  width: 50%;
  height: 100%;
  background-color: blueviolet;
}

main article #s1 #div1,
main article #s1 #div2 {
  border-radius: 10px;
}

main article #s2 {
  width: 100%;
  height: 80%;
  display: flex;
}

main article #s2 #div3 {
  width: 50%;
  height: 100%;
  padding: 0 5px 0 10px;
  display: flex;
  gap: 10px;
  flex-direction: column;
}

main article #s2 #div3 .div1 {
  width: 100%;
  height: 50%;
  background-color: crimson;
}

main article #s2 #div3 .div2 {
  width: 100%;
  height: 50%;
  background-color: hotpink;
}

main article #s2 #div3 .div1,
main article #s2 #div3 .div2 {
  border-radius: 10px;
}

main article #s2 #div4 {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 10px 0 5px;
}

main article #s2 #div4 .div1,
main article #s2 #div4 .div2,
main article #s2 #div4 .div3 {
  width: 100%;
  height: calc(100% / 3);
}

main article #s2 #div4 .div1 {
  background-color: darksalmon;
}

main article #s2 #div4 .div2 {
  background-color: rgb(181, 59, 18);
}

main article #s2 #div4 .div3 {
  background-color: rgb(170, 193, 24);
}

main article #s2 #div4 .div1,
main article #s2 #div4 .div2,
main article #s2 #div4 .div3 {
  border-radius: 10px;
}
