<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video</title>
</head>
<body>
    <center>
        <h1 align="center">video element</h1>
    <hr>
    <video width="560px" src="../video/[Eng Sub] Renegade Immortal EP 95 (1).mp4" controls autoplay muted></video>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/5TDOnXIe90U?si=sa8_FDTEHFOtN8MT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>\
    <audio src="../video/[Eng Sub] Renegade Immortal EP 95 (1).mp4" controls></audio>
    </center>
</body>
</html>