<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>លំហាត់អនុវត្តន៏</title>
</head>
<body>
    <center>
        <font color="#00ff00" size="5px" face="khmer os"
        <h1><u>លំហាត់អនុវត្តន៏</u></h1> 
    </center>
   <font color="#ca5061"<h2>១.ចូលធ្វើការបង្កើតនូវ Webpage មួយដែលបង្ហាញទម្រង់ដូចខាងក្រោម<br></h2> 
   <font color="#bf24e2" size="5px"<div>1. &lt; !DOCTYPE html &gt; </div>
    <hr size ="7px" color="#ff00ff">
    <p>
        HTML (Hypertext Markup Language) is a text-based approach to describing how content contained within an HTML file is structured. This markup tells a web browser <br> 
        how to display text, images and other forms of multimedia on a webpage.
    </p>
    <font color="#008080"<h3>2. &lt;html&gt;</h3>
        <hr size="7px"color="#55c21e">
        <p>
        You can use the inline style attribute or the style element to change the text color and then set the value using the color property. The color property sets the foreground color value for an element's text and text decoration.<br>
             The color property accepts <b> color names, RGB, RGBA, HEX, HSL, or HSLA values.
        </p>
       <font color="#c88716"<div>3.&lt;head&gt; </div>
        <hr size ="7px" color="#b1bf24">
        <p>
            The <head> element is a container for metadata (data about data) and is placed between the <html> tag and the <body> tag.
            HTML metadata is data about the HTML document. Metadata is not displayed on the page.
          Metadata typically define the document title, character set, styles, scripts, and other meta information.
        </p>
</body>
</html>