<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello Welcome To ETEC CENTER</title>
</head>
<body>
    <h1>
  <u style="color: red;">
    <span>
      <u style="color: black;">Demo 3 :</u>
    </span>
    Marquee Element
  </u>
</h1>
<div style="width: 100%; height: 90vh;">

  <marquee behavior="slide" width="50%" direction="right">
    <h1>Hello Welcome To ETEC CENTER</h1>
  </marquee>

  <marquee behavior="scroll" width="50%" direction="left">
    <h1>First marquee slides text in from the right.Second marquee scrolls continuously from right to left.Third marquee bounces the text up and down.</h1>
  </marquee>

  <marquee behavior="alternate" height="50%" direction="down">
    <h1>Welcome Back.</h1>
  </marquee>
</div>

</body>
