<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list</title>
</head>
<style>
    *{
        color: red;
    }
    h2{
        font-family: sans-serif;
        color: brown;
    }
    
</style>
<body>
    <h1 align="center" style="font-family: sans-serif; text-decoration: underline;">
        List and Type of List in HTML
    </h1>

    <h2>1. Order List (&lt;ol&gt;)</h2>
    <p>Top 5 Cambodian Super Star: </p>
    <ol type="i" style="list-style-image: url(../assets/img/capslock-fill.svg);">
        <li>VannDa</li>
        <li>Dit Way</li>
        <li>King Chi</li>
        <li>Tena</li>
        <li>4T5</li>
    </ol>
    <h2>2. Unorder List (&lt;ul&gt;)</h2>
    <p>Our Services:</p>
    <ul>
        <li>Free Delivery</li>
        <ul>
            <li>Phnom Penh</li>
            <li>Siem Reap</li>
            <li>Ban Lung City</li>
        </ul>
            <li>Discount15%</li>
            <li>Fast Service</li>
        </li>
    </ul>
</body>
</html>
