<html>
    <head>
        <title> Hello ETEC</title>
    </head>
    <body>
        <h1><center>Welcome to ETEC CENTER</center></h1>
        <hr />
        <p>
            <b>I Love Html, css, Bootstrap</b><br>
            <i>I Love Html, css, Bootstrap</i><br>
            <u>I Love Html, css, Bootstrap</u><br>
        </p>
        <br/><br/>
        <hr /></body>
        <div>
            <strong>I love Html, css, bootstrap</strong><br>
            I love Html, css, <sup>bootstrap</sup><br>
            I love Html, css, <sub>bootstrap</sub><br>
        </div>
        <hr color="red" width="5px">
    </body>
</html>
